@charset "UTF-8";

/*메인 페이지 부분*/
#mainleft{
	float: left;
	width: 800px;
	height:450px;
}
#mainright{
	float: right;
	width: 350px;
	height:450px;
}

#chat{
	width: 750px;
	max-height: 400px;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 10px;
	margin-bottom: 10px;
}

#form{
	position: absolute;
	top: 420px;
	left: 300px;
}

#pointlist{
	width: 330px;
	max-height: 450px;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 60px;
}