@charset "UTF-8";

#create_Account_Form > input{
	margin: 5px;
}

#mainpage{
	height: 450px;
}

#divcreateAcount, #mainpage > h2{
	padding-top: 80px;
}

.button{
	width: 75px;
}

#ok{
	margin: 10px;
}