<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.park.mapper.chatMapper">
	<select id="getChatList" resultType="com.park.chat.ChatDTO">
		SELECT * FROM chat ORDER BY no DESC LIMIT 14
	</select>
	
	<insert id="addChat" parameterType="com.park.chat.ChatDTO">
		INSERT INTO chat(userID, text) VALUES(#{userID}, #{text})
	</insert>
</mapper>